@tailwind base;
@tailwind components;
@tailwind utilities;



.data-block{
    width: 1600px;
    max-width: 1600px;
    min-width: 1600px;
    max-height: 1000px;
}
.block{
    width: 1600px;
    max-width: 1600px;
    min-width: 1600px;
    padding-top: 15px;
}
.button {
    @apply bg-gradient-to-r from-orange-500 to-yellow-500 shadow-lg  shadow-orange-500/50 rounded-xl px-4 h-12 text-xl;
}
  
.button:hover {
    @apply from-orange-400 to-yellow-400 shadow-lg shadow-orange-500/70;
}
.buttonSuccess {
    @apply bg-gradient-to-r from-green-500 to-yellow-500 shadow-lg  shadow-green-500/50 rounded-xl px-4 h-12 text-xl;
}
  
.buttonSuccess:hover {
    @apply from-green-400 to-yellow-400 shadow-lg shadow-green-500/70;
}
.truncate {   
    white-space: nowrap;  
    overflow: hidden;          
    text-overflow: ellipsis; 
    max-width: 700px;
}
.delete:hover{
    @apply from-red-400 to-orange-400 shadow-lg shadow-red-500/70;
}
.delete{
    @apply bg-gradient-to-r from-red-500 to-orange-500 shadow-lg  shadow-red-500/50 rounded-xl px-4 h-12 text-xl;
}
.iconPointer{
    cursor: pointer;
}
.imgDisplay{
    width: 175px;
    height: 200px;
    background-color: orange;
}
.bigImgDisplay{
    width: 200px;
    height: 250px;
    background-color: orange;
}
.purple{
    background-color: rgb(54, 47, 80);
}