@tailwind base;
@tailwind components;
@tailwind utilities;



.data-block{
    width: 1600px;
    max-width: 1600px;
    min-width: 1600px;
    max-height: 1000px;
}
.block{
    width: 1600px;
    max-width: 1600px;
    min-width: 1600px;
    padding-top: 15px;
}
.button {
    @apply bg-gradient-to-r from-orange-500 to-yellow-500 shadow-lg  shadow-orange-500/50 rounded-xl px-4 h-12 text-xl;
}
  
.button:hover {
    @apply from-orange-400 to-yellow-400 shadow-lg shadow-orange-500/70;
}
.buttonSuccess {
    @apply bg-gradient-to-r from-green-500 to-yellow-500 shadow-lg  shadow-green-500/50 rounded-xl px-4 h-12 text-xl;
}
  
.buttonSuccess:hover {
    @apply from-green-400 to-yellow-400 shadow-lg shadow-green-500/70;
}
.truncate {   
    white-space: nowrap;  
    overflow: hidden;          
    text-overflow: ellipsis; 
    max-width: 700px;
}
.delete:hover{
    @apply from-red-400 to-orange-400 shadow-lg shadow-red-500/70;
}
.delete{
    @apply bg-gradient-to-r from-red-500 to-orange-500 shadow-lg  shadow-red-500/50 rounded-xl px-4 h-12 text-xl;
}
.iconPointer{
    cursor: pointer;
}
.imgDisplay{
    width: 175px;
    height: 200px;
    background-color: orange;
}
.bigImgDisplay{
    width: 200px;
    height: 250px;
    background-color: orange;
}
.purple{
    background-color: rgb(54, 47, 80);
}




.darkPurple textarea{
    border: none;
    outline: none;
    width: 100%;
    background-color: rgb(28, 25, 43);
    resize: none;
    color: white;
}
.darkPurple textarea:focus{
    border-color: rgb(28, 25, 43);
}
.darkPurple .main{
    width: 100%;
}
.darkPurple .help-message{
    color: black;
}
.darkPurple .icon{
    width: 20px;
    height: 20px;
}
.darkPurple input{
    border:none;
    background-color: transparent;
    width: 100%;
    color: white;
}
.darkPurple label{
    color: rgb(28, 25, 43);
}
.darkPurple .textField{
    background-color: rgb(28, 25, 43);
    margin-bottom: 4px;
}
.darkPurple .textField:focus-within{
    border: 2px solid  orange;
}

.darkPurple.main.has-error textarea{
    background-color: rgb(28, 25, 43);
}
.darkPurple.main.has-error .textField:focus-within{
    border:  2px solid orange;
}
.darkPurple.main.has-error .textField{
    background-color: rgb(28, 25, 43);
}
.darkPurple.main.has-error input{
    background-color: rgb(28, 25, 43);
}
.darkPurple.main.has-error ::placeholder{
    color:rgba(255, 255, 255, 0.445)
}
.darkPurple.main.has-error .help-message{
    color: white
}

.darkPurple input:focus{
    outline: none;
}
.darkPurple.main.has-error input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px rgb(28, 25, 43) inset;
    -webkit-text-fill-color: white;
}
.darkPurple.main input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px rgb(28, 25, 43) inset;
    -webkit-text-fill-color: white;
}

.darkPurple.main.has-error textarea:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px rgb(28, 25, 43) inset;
}
.darkPurple.main textarea:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px rgb(28, 25, 43) inset;
    -webkit-text-fill-color: white;
}